<!-- This file is the central assembly for the robot, we can attach different modules to make up the robot to be used by ROS2
    For example, we can attach sensors here, making it very modular, if we had another file for Ultrasonic sensors, 
    we could place it below -->
<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">    
    
    <!-- <xacro:include filename="ros2_control.xacro"/> --> <!--  Commented out, could not get ros2_cotnrol to work -->
    <xacro:include filename="rover.xacro"/> <!--Attach rover 3D specifications-->
    <xacro:include filename="gazebo_control.xacro"/> <!--Manual control for simulated robot-->
    <xacro:include filename="lidar.xacro"/> <!--Attach LiDAR Component-->
</robot>