<!-- Here we create the 3D model for the LiDAR to attach to the digital twin of our robot.
We setup the behaviour of the LiDAR e.g. scan range, samples per rev -->
<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <joint name="lidar_joint" type="fixed">
        <parent link="chasis_link"/>
        <child link="lidar_frame"/>
        <origin xyz="0.04 0 0.065" rpy="0 0 0" />
    </joint>

    <link name="lidar_frame">
        <visual>
            <geometry>
                <cylinder length="0.02" radius="0.035"/>
            </geometry>
            <material name="red"/>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.035"/>
            </geometry>
        </collision>

        <xacro:inertial_cylinder mass="0.08" length="${wheel_width}" radius="${wheel_diameter}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <gazebo reference="lidar_frame">
        <material>Gazebo/Red</material>

        <sensor name="lidar" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize> true </visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples> 360 </samples>
                        <resolution> 1 </resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                    <resolution> 1</resolution>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument> ~/out:=scan </argument>
                </ros>
                <output_type> sensor_msgs/LaserScan </output_type>
                <frame_name> lidar_frame </frame_name>
            </plugin>    
        </sensor>
    </gazebo>
</robot>